form {
  display: flex;
  margin-left: 540px;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  width: 500px;
}

.new-container {
  position: relative;
  right: 400px;
  bottom: 220px;
  transform: translate(-50%, 30%);
  background-color: white;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  padding: 40px;
  border-radius: 10px;
  width: 200%;
  height: 50vh;
  overflow-y: scroll;
}

input {
  margin-left: 20px;
  border-radius: 10px;
  padding-left: 13px;
  font-size: 16px;
  margin-top: 20px;
}

.edit-from-input {
  font-size: 20px;
  margin: 30px 0px 0px 30px;
}

.btn {
  position: relative;
  right: 140px;
}

@media (max-width: 1156px) {
  form {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }

  .new-container {
    position: relative;
    transform: none;
    width: 100%;
    height: auto;
    padding: 20px;
    right: 0;
    bottom: 60px;
    overflow-y: visible;
  }

  input {
    margin-left: 0;
    font-size: 14px;
    padding-left: 10px;
  }

  .edit-from-input {
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
  }
}
