.DeleteAllMovies {
  position: absolute;
  top: 114%;
  width: 54%;
  height: 50px;
  font-family: sans-serif;
  background-color: #c5111f;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 100%;
  margin: 2rem;
  cursor: pointer;
  margin-top: 80px;
}
@media (max-width: 420px) {
  .DeleteAllMovies {
    width: 55%;
    font-size: 18px;
    height: 45px;
    margin-top: 1760px;
  }
}
@media (max-width: 420px) {
  .delete-all-wrapper {
    margin-left: 30px;
  }
}
