.filter-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  align-items: center;
  padding: 5rem 3rem 5rem 4rem;
}

.filter_group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  bottom: 300px;
}

label {
  font-size: 0.9rem;
  color: #374151;
  font-weight: 600;
  margin-top: 30px;
}

select {
  padding: 0.75rem;
  border: 2px solid #e1e5e9;
  border-radius: 12px;
  font-size: 1rem;
  background: white;
  transition: border-color 0.3s ease;
  font-family: sans-serif;
  width: 230px;
  max-width: 100%;
  cursor: pointer;
}

@media (max-width: 986px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
    gap: 1rem;
    position: relative;
    bottom: 530px;
  }

  .filter_group {
    position: static;
    width: 90%;
    max-width: 1300px;
    gap: 0.5rem;
  }

  select {
    width: 100%;
    font-size: 0.95rem;
    padding: 0.65rem;
    position: relative;
  }

  label {
    font-size: 0.85rem;
    margin-top: 1px;
  }
}
