* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: 300px;
}
div {
  display: block;
  unicode-bidi: isolate;
}
