.Update_Movie {
  background-color: #10b981;
  margin-left: 20px;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  padding-left: 5px;
  font-size: 16px;
  margin-top: 20px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border: none;
  color: white;
  margin-left: 150px;
}
